<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lym.trample">

    <!--友盟统计所需权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>



    <application
        android:name=".TrampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--value的值填写你在友盟后台申请的应用Appkey-->
        <meta-data android:value="5e8d4eb4dbc2ec080a34a1f9" android:name="UMENG_APPKEY"/>

        <!--value的值填写渠道名称，例如yingyongbao。这里设置动态渠道变量-->
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

        <!-- 主界面Activity -->
        <activity
            android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HelpActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.ColorsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.WordsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.DigitsActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>